<h2>Edit Post</h2>

<form class="form newPost-form">
  <div class="form-group">
    <label for="postTitle">Title:</label>
    <input
      class="form-input"
      type="text"
      id="postTitle"
      value="{{postTitle}}"
    />
  </div>
  <input type="hidden" id="postId" value="{{postId}}" />
  <div class="form-group">
    <label for="postBody">Content:</label>
    <textarea
      class="form-input"
      type="textarea"
      id="postBody"
    >{{postBody}}</textarea>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
    <div class="col-md-6 form-group display-flex justify-flex-end-md">
      <button id="delete" class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
</form>

<script src="/js/editPost.js"></script>