<h2>Register</h2>

<form class="form register-form">
  <div class="form-group">
    <label for="username-login">Username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
    <a href="/login"><button class="btn btn-primary" type="button">Login instead</button></a>
  </div>
</form>

<script src="/js/register.js"></script>