<div class="row">
  <div class="col-md-12">
    <h2>{{postTitle}}</h2>
    <p>{{postBody}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{! COMMENTS GO HERE }}
  </div>
</div>

<div class="row pt-5 mt-5">
  <div class="col-md-12">
    <h2>Leave a Comment</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form newPost-form">
      <div class="form-group">
        <label for="postBody">Comment:</label>
        <textarea class="form-input" type="textarea" id="postBody"></textarea>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <button class="btn btn-primary" type="submit">Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>